[submodule "libs/libnds"]
	path = libs/libnds
	url = ../libnds
[submodule "libs/dswifi"]
	path = libs/dswifi
	url = ../dswifi
[submodule "libs/maxmod"]
	path = libs/maxmod
	url = ../maxmod
[submodule "tools/ndstool"]
	path = tools/ndstool
	url = ../ndstool
[submodule "tools/grit"]
	path = tools/grit
	url = ../grit
[submodule "tools/mmutil"]
	path = tools/mmutil
	url = ../mmutil
[submodule "tools/dldipatch"]
	path = tools/dldipatch
	url = ../dldipatch
[submodule "libs/libxm7"]
	path = libs/libxm7
	url = ../libxm7
[submodule "sys/dldi_r4"]
	path = sys/dldi_r4
	url = ../dldi_r4
[submodule "libs/libteak"]
	path = libs/libteak
	url = ../libteak
[submodule "tools/squeezer"]
	path = tools/squeezer
	url = ../squeezer
